.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
}