.search {
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.search__information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search__text {
  margin: 0;
}

.search__buttons-container-button {
  margin-top: 1%;
  font-family: inherit;
  padding: 10px 20px;
  background-color: white;
  border: 1px solid rgb(199, 201, 178);
  background-color: transparent;
  border-radius: 5px;
  transition: ease-in-out .2s background-color;
}

.search__buttons-container-button:hover:not([disabled]) {
  background-color: white;
  cursor: pointer;
}

.search__buttons-container-button:disabled {
  color: var(--light-color);
}

.search__input {
  width: 50%;
  height: 30px;
  padding: 10px;
  font-family: inherit;
  box-sizing: border-box;
  border: 1px solid rgb(199, 201, 178);
  border-radius: 5px;
}

.search__input:focus {
  outline: 1px solid var(--accent-color);
  border: none;
}

.search__input::placeholder {
  font-family: inherit;
  color: var(--light-color)
}

.search__buttons-container {
  display: flex;
  gap: 10px;
  padding: 20px 0;
}

.search__error {
  margin: 0;
  font-size: 12px;
  color: var(--accent-color);
  padding-top: 5px;
}

.search__title {
  margin: 10px 0;
  font-size: 15px;
  font-weight: 900;
}